.container {
    background-color: aqua;
    height: 200px;
    width: 300px;
    overflow-y: scroll;
}

.time {
    font-size: 4rem;
    font-weight: 600;
}

.greetings{
    font-size: 2rem;
    font-weight: 400;
}